@use "../variables" as v;

@mixin button() {
    .button-container {
        display: flex;
        text-align: center;
    }

    button {
        color: v.$white;
        background: v.$container-bg;
        font-family: v.$font-family;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding: 1rem 1rem;
        border: none;
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-top: 1rem;
        cursor: pointer;
    }

    .button-x2 {
        width: 40%;
    }

    
}