@use "../variables" as v;

@mixin inputs() {
    input[type="text"],
    input[type="email"],
    select{
        font-family: v.$font-family;
        font-size: 1.3rem;
        border: 0;
        border-bottom: 1px solid v.$gray;
        outline: none;
        padding: 0.3rem 0.1rem;
        color: v.$black;
        background-color: #d7ffd893;
        border-radius: 1px;

        &:invalid[data-focused="true"]{
            background-color: #f154541e;
        }   

        //Muestra el mensaje de error
        &:invalid[data-focused="true"] ~ p {
            display: block;          
        }   
        
        // Muestra el mensaje de error con formik
        &.error-forgot-input {
            background-color: #f154541e;
            border-bottom: 1px solid v.$error;
        }
    }
} 