@use "../variables" as v;

@mixin inputs() {
    input[type="text"],
    input[type="email"],
    select{
        font-family: v.$font-family;
        font-size: 1.3rem;
        border: 0;
        border-bottom: 1px solid v.$gray;
        outline: none;
        padding: 0.3rem 0.1rem;
        color: v.$black;
        background-color: #d7ffd893;
        border-radius: 1px;

    }
}