$font-family: "Nunito", sans-serif;

$container-bg:  linear-gradient(180deg, rgba(63,60,68,1) 0%, rgba(13,125,134,1) 80%);

// Colors
$white: #fff;
$black: #0E0E23;
$gray: #626262;
$error: #FF3333;

$primary-green: #007036;


$main-bg: #4e775e;